<div class="PrincipalContainer">
    
    <section>
    <h5>Marcas</h5>
    <div *ngFor="let brand of Brands, let i =index" class="options">
         <button value={{brand.Name}}  [routerLink]="['/cellphones']" [queryParams]="{name:brand.Name}" (click)="reloadPage()">{{brand.Name}}</button>
    </div>
     </section>
    <section>
    <h5>Memoria</h5>
    <span>1gb</span>
    <span>2gb</span>
    <span>3gb</span>
    <span>4gb</span>
    <span>6gb</span>
    <span>8gb</span>
    <span>12hb</span>
</section>
</div>


