
<div>
    
    <section>
            <h5>Portatiles</h5>
            <span>Notebooks</span>
            <span>Tablets</span>
            <span>Pantallas</span> 
        </section> 
    

   
        <section>
            <h5>Accesorios</h5>
            <span>Teclados</span>
            <span>Mouse</span>
            <span>Perifericos</span> 
        </section>
    
   
    
        <section>
            <h5>Marcas</h5>
            <span>Lenovo</span>
            <span>Hp</span>
            <span>Asus</span> 
            <span>Comstar</span> 
            <span>Blackview</span> 
            <span>Intouch</span> 
    
            <span>Argom</span>
            <span>Cougar</span>
            <span>Marvo</span>
            <span>Maxell</span>
            <span>Meetion</span>
            <span>Mercusys</span>
            <span>Razeak</span>
            <span>Universal</span>
            <span>Rigal</span>
        </section>
    
    
   
        <section>
            <h5>Memoria</h5>
            <span>Notebooks</span>
            <span>Tablets</span>
            <span>Pantallas</span> 
        </section>
    
</div>

