
<div class="PrincipalContainer">
    
    <section>
            <h5>Portatiles</h5>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{products:'Notebooks'}" (click)="reloadPage()">Notebooks</button>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{products:'Tablets'}" (click)="reloadPage()">Tablets</button>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{products:'Pantallas'}" (click)="reloadPage()">Pantallas</button> 
        </section> 
    

   
        <section>
            <h5>Accesorios</h5>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{products:'Teclados'}" (click)="reloadPage()">Teclados</button>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{products:'Mouse'}" (click)="reloadPage()">Mouse</button>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{products:'Perifericos'}" (click)="reloadPage()">Perifericos</button> 
        </section>
        products
   
    
        <section>
            <h5>Marcas</h5>
            <div *ngFor="let brand of Brands, let i =index" class="options">
                 <button value={{brand.Name}}  [routerLink]="['/Computing']" [queryParams]="{name:brand.Name}" (click)="reloadPage()">{{brand.Name}}</button>
            </div>
             </section>
    
    
   
        <section>
            <h5>Memoria</h5>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{ram:'1'}" (click)="reloadPage()">1gb</button>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{ram:'2'}" (click)="reloadPage()">2gb</button>
            <button value=""  [routerLink]="['/Computing']" [queryParams]="{ram:'4'}" (click)="reloadPage()">4gb</button> 
        </section>
    
</div>

