.PrincipalContainer{

 display: flex;
 flex-direction: column;
}
.ContentSection{
   display: flex;
}
.FilterSection{
  width: 15%;
}
.CardsContainer{
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
width: 85%;


}
