<div>
    <section>
        <h1>Marcas</h1>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
        <span>Marcass</span> <br>
    </section>
    <section>
        <h1>Categorias</h1>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
        <span>Categoria</span>
    </section>
    
</div>