<div class="PrincipalContainer">
    
<section>
    <h5>Categorías</h5>
    <button  [routerLink]="['/Audiovideo']" [queryParams]="{category:'Auriculares'}" (click)="reloadPage()"> Auriculares</button>
    <button  [routerLink]="['/Audiovideo']" [queryParams]="{category:'Parlante'}" (click)="reloadPage()"> Parlantes</button> 
</section>

<section>
    <h5>Marcas</h5>
    <div *ngFor="let brand of Brands, let i =index" class="options">
         <button value={{brand.Name}}  [routerLink]="['/Audiovideo']" [queryParams]="{name:brand.Name}" (click)="reloadPage()">{{brand.Name}}</button>
    </div>
 </section>
 
</div>