.FormSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.Form{
    margin: 0 auto;
    display: flex;
    background-color: rgb(170, 170, 170);
    width: 70%;
    flex-direction: column;
    padding: 20px;
}
.Form article{

 margin: 5px;
 display: flex;
 align-items: center;
 justify-content: space-between;
}
.Form label{
    color: rgb(2, 2, 2);
    font-size: 1.1rem;
}
.Form select{
    width: 73%;
    padding: 5px;
    font-size: 1rem;
}

.Form input{
width: 70%;
padding: 7px;

}

.buttons button{
    padding: 5px;
    width: 100px;
    font-size: 1.2rem;
    font-weight: 700;
    border: none;
    color: aliceblue;
    cursor: pointer;
}
.Submit{
    background-color:rgb(10, 103, 179) ;
}
.Cancel{
    background-color: rgb(223, 43, 43);
}
.Cancel:hover{
    background-color: darkred;
}
.Submit:hover{
    background-color: blue;
}

@media(max-width:600px){
    .FormSection{
        width: 100%;
    }
    .Form{
    width: 85%;
    }
    .Form article{
        flex-direction: column;
        align-items:start;
    }
    .Form select{
        width: 100%;
    }
    /* .Form select option{
        color: aquamarine;
    } */
    .Form article input{
      
        width: 100%;
    }
    .buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    }
    .buttons button{
        width: fit-content;
       
    }
}
