<div class="FirstContainer" >
    <h1>Hi admin</h1>
    <section class="FormSection">
      <form action="" class="Form">
         <h4>Agregar producto</h4>
        <label for="">*Producto?(celular,televisor,etc)</label>
        <input type="text" (input)="onChange($event,false)" name="Name">
        <label for="">*Marca</label>
        <input type="text"  (input)="onChange($event,false)" name="Brand">
        
        <label for="">*Nombre/modelo</label>
        <input type="text" (input)="onChange($event,true)" name="Name">

        <label for="">*Precio</label>
        <input type="number" (input)="onChange($event,false)" name="Price">

        <label for="">*Imagen</label>
        <input type="text" (input)="onChange($event,false)" name="Image">
         
        <label for="">*Stock?</label> 

            <select name="" (change)="updateStock($event)" >
                <option value="true">Si</option>
                <option value="false">No</option>
            </select>
      <label>*Cantidad de stock:</label>

      <input type="number" (input)="updateStock($event)" id="">

    </form>

     <button (click)="createProduct()">Crear</button>
    <button>Agregar</button>
    </section>

    <button (click)="onClick()">Ver </button>


    
</div>

