<div>
    <div class="container">
    <section id="section1">
        <h1 [routerLink]="['/']">Joa market</h1>
    </section>
 
    <section id="section2">
        <!-- mouseenter activa el boton ,da click al pasar el cursor -->
        <span (mouseenter)="change('cellphone')"  [routerLink]="['/cellphones']">Celulares </span>
        <span (mouseenter)="change('AudioVideo')" [routerLink]="['/Audiovideo']">Audio y video </span>
        <span (mouseenter)="change('Informatica')" [routerLink]="['/Computing']">Informatica </span>
        <span (mouseenter)="change('Gaming')" [routerLink]="['/Gaming']">Gaming </span> 
        <span (mouseenter)="change('Accesories')" [routerLink]="['/Accesories']">Accesorios </span> 
        <span (mouseenter)="change('Apliances')" [routerLink]="['/Apliances']">Electrodomesticos </span>

        <section id="section4" >
            <app-celulares *ngIf='sections.cellphone'> </app-celulares>
            <app-audio-video *ngIf='sections.AudioVideo'></app-audio-video>
            <app-accessories *ngIf='sections.Accesories'></app-accessories>
            <app-computing *ngIf='sections.Informatica'></app-computing>
            <app-gaming *ngIf='sections.Gaming'></app-gaming>
            <app-apliances *ngIf='sections.Apliances'  ></app-apliances>
        </section>

    </section>

    <section id="section3">
        <button [routerLink]="['/Admin']">Admin</button>
        <button>buscar</button>
        <button>carrito</button>
    </section>

</div>
</div>
