#navresponsive{
    padding-top: 15px;
    background-color: rgb(4, 4, 107);
    color: white;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    overflow:auto;
}
#navresponsive article{   
    border-bottom: 2px solid grey;
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
#navresponsive span{
    font-size: 1.6rem;
    cursor: pointer;
}
#navresponsive article button{
    color: red;
}
.Menu{
    font-size: 40px;
    display: block;
    cursor: pointer;
    color: #bebdbd;
}
.Menu:hover{
    color: white;
}