<div>
    <section>
        <div>
            <h1>{{Title}}</h1>
        </div>
        <div>
            <span>Cantidad de productos : X</span>
            <select name="" id="">
                <option value="">Ordenar</option>
                <option value="">Recientes</option>
                <option value="">Categoria</option>
                <option value="">Menor precio</option>
                <option value="">Mayor precio</option>
            </select>
        </div>
    </section>
    <hr>
</div>