<div>
  <div class="imageContainer">
    <picture>
       
        <source media="(min-width: 1280px)" srcset="//f.fcdn.app/imgs/321814/www.market.com.uy/markuy/4fcf/webp/recursos/372/1160x200/bbva-listadoproductos-1160x200.png" width='1160' height='200' >
        <source media="(max-width: 1279px) and (min-width: 1024px)" srcset="//f.fcdn.app/imgs/46a1f4/www.market.com.uy/markuy/4251/webp/recursos/373/980x200/bbva-listadoproductos-980x200.png" width='980' height='200'  >
        <source media="(max-width: 640px) AND (orientation: portrait)" srcset="//f.fcdn.app/imgs/3959f4/www.market.com.uy/markuy/afaf/webp/recursos/375/0x0/bbva-listadoproductos-1024x400.png" >
        <source media="(max-width: 1023px)" srcset="//f.fcdn.app/imgs/fa8fc8/www.market.com.uy/markuy/afaf/webp/recursos/374/1024x400/bbva-listadoproductos-1024x400.png" width='1024' height='400' >
        <img src="//f.fcdn.app/imgs/321814/www.market.com.uy/markuy/4fcf/webp/recursos/372/1160x200/bbva-listadoproductos-1160x200.png" alt="BBVA 15%" width='1160' height='200' >
    </picture> </div>
<div class="Container">
    <section class="TitleSection">
        <h1>{{Title}}</h1>
    </section>
    <section class="OptionsSection">
        <span>Cantidad de productos :{{TotalProducts}}</span>
        <select name="" id="" (change)="FilterProducts($event)">
            <option value="default">Ordenar</option>
            <option value="ASC">Menor precio</option>
            <option value="DESC">Mayor precio</option>
        </select>
        
    </section>
</div>
 
    </div>