<div>
  <div class="imageContainer">
        <img src="https://f.fcdn.app/imgs/321814/www.market.com.uy/markuy/4fcf/webp/recursos/372/1160x200/bbva-listadoproductos-1160x200.png" alt="">
 </div>
<div class="Container">
    <section class="TitleSection">
        <h1>{{Title}}</h1>
    </section>
    <section class="OptionsSection">
        <span>Cantidad de productos :{{TotalProducts}}</span>
        <select name="" id="" (change)="FilterProducts($event)">
            <option value="default">Ordenar</option>
            <option value="ASC">Menor precio</option>
            <option value="DESC">Mayor precio</option>
        </select>
        
    </section>
</div>
 
    </div>